<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.user.py.mapper.PostMapper">
    <resultMap id="getPostComment" type="com.user.py.mode.domain.vo.CommentVo">
        <!--private String postId;
    private String commentName;
    private String content;
    private String replyName;-->
        <result property="postId" column="postId"/>
        <result property="commentName" column="commentName"/>
        <result property="content" column="content"/>
        <result property="replyName" column="replyName"/>

    </resultMap>
    <!--CommentVo getPostCommentByPostIds(@Param("postIds")List<String> postIds);-->
    <select id="getPostCommentByPostIds" parameterType="java.util.List" resultMap="getPostComment">
        SELECT
        p.post_id AS postId,
        p.content,
        u.user_account AS commentName,
        s.user_account AS reopyName
        FROM
        post_comment p
         JOIN `user` u ON p.user_id = u.id
         JOIN `user` s ON p.reply_id = s.id
        <where>
            <if test="postIds !=null and postIds.size()>0">
                <foreach collection="postIds" item="postId" separator="," open="p.post_id in (" close=")">
                    #{postId}
                </foreach>
            </if>
        </where>
    </select>
</mapper>
